/.vs/
/AspNetCoreServiceBusApi1/bin
/AspNetCoreServiceBusApi1/obj
/ServiceBusMessaging/bin
/ServiceBusMessaging/obj
/AspNetCoreServiceBusApi2/bin/
/AspNetCoreServiceBusApi2/obj/
/.vs/AspNetCoreServiceBus/v16/.suo
/ReducedAccessRightsQueueSender/bin
/ReducedAccessRightsQueueSender/obj
/_logs-**
